@charset "UTF-8";
@use "../abstracts" as *;

// 横浜について
.about-yokohama {
  position: relative;
  padding-top: 60px;
  // background: url("../images/about-yokohama/about-yokohama_bg-pattern.png") repeat;
  // background-size: 126% 136%;
  // background-position: center -360px;
  background:url(../images/about-yokohama/about-yokohama_bg-pattern-s.png);
  background-repeat: repeat;
  background-size: 30px 30px;
  background-position: top left;
  min-height: 600px;
  width: 100%;

  @include mq($until: mid-pc) {
    // background-size: 180% 10%;
    // background-position: center -100px;
    padding-bottom: 100px;
  }

  @include mq($until: sp-large) {
    padding-top: 40px;
    min-height: auto;
    // background-size: 200% auto;
    // background-position: center -490px;
    margin-bottom: 0px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
  }
}

.about-yokohama__inner {
  display: flex;
  z-index: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 92px;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;

  @include mq($until: mid-pc) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  @include mq($until: sp-large) {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }
}

.about-yokohama__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 16px;
  max-width: 493px;
  flex-shrink: 0;
  position: relative;
  transform: translateY(-115px);
  pointer-events: none !important;
  z-index: 0;

  @include mq($until: mid-pc) {
    transform: translateY(0);
    max-width: 600px;
    gap: 30px 12px;
    order: 2;
  }

  @include mq($until: sp-large) {
    max-width: 100%;
    transform: none !important;
    translate: none !important;
    rotate: none !important;
    scale: none !important;
    gap: 10px;
    order: 2;
    grid-template-columns: repeat(3, 1fr);
  }

  img {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    transition: transform 0.3s ease;
    pointer-events: none !important;
    z-index: 0;

    &:hover {
      transform: scale(1.05) rotate(0deg);
    }
  }
}

.photo__camera {
  position: absolute;
  top: 260px;
  left: 30px;
  width: 63px;

  @include mq($until: sp-large) {
    display: none;
  }
}

.photo--1 {
  grid-column: span 2;
  transform: rotate(-2deg);
  margin-left: 50px;
  width: 80%;

  @include mq($until: sp-large) {
    margin-left: 0;
    width: 100%;
    grid-column: span 1;
    transform: rotate(0);
  }
}

.photo--2,
.photo--3 {
  transform: rotate(2deg);

  @include mq($until: sp-large) {
    transform: rotate(0);
  }
}

.about-yokohama__content {
  position: relative;
  z-index: 100;
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  margin-top: 53px;

  @include mq($until: mid-pc) {
    text-align: center;
    max-width: 100%;
    order: 1;
    margin-top: 0;
  }

  @include mq($until: sp-large) {
    margin-top: 0;
    min-width: auto;
    max-width: 100%;
    padding: 0;
    order: 1;
  }
}

.about-yokohama__wave {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-bottom: 30px;
  margin-top: -80px;
  z-index: 0;
  max-width: 100%;
  pointer-events: none !important;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @include mq($until: sp-large) {
    
  }
}

.about-yokohama__lead {
  margin-left: 0;
}

.about-yokohama__heading {
  text-align: left;
  color: var(--color-main);
  font-size: clamp(2rem, 3vw, 3.2rem);
  margin-bottom: 16px;
  font-family: var(--font-sub);

  @include mq($until: mid-pc) {
    white-space: normal;
  }

  @include mq($until: sp-large) {
    font-size: 2.2rem;
    white-space: normal;
    text-align: center;
  }
}

.about-yokohama__text {
  text-align: left;
  line-height: 2;
  color: var(--color-main);
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  margin-bottom: 24px;
  font-family: var(--font-sub);

  @include mq($until: mid-pc) {
    white-space: normal;
  }

  @include mq($until: sp-large) {
    font-size: 1.4rem;
    white-space: normal;
    text-align: center;
  }
}

/* 検索フォーム */
.about-yokohama__search {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mq($until: sp-large) {
    flex-direction: column;
    align-items: center;
  }
}

.about-yokohama__input {
  width: 350px;
  height: 46px;
  border: 1.5px solid #0d3d90;
  border-radius: 30px;
  padding: 0 48px 0 16px;
  font-size: 1.5rem;
  color: #333;
  background: #fff;
  text-align: center;

  @include mq($until: sp-large) {
    width: 100%;
    max-width: 300px;
  }
}

.about-yokohama__search-btn {
  background: none;
  border: none;
  position: absolute;
  right: calc(50% - 160px);
  top: 24%;
  transform: translateY(-50%);
  flex-shrink: 0;
  width: 24px;
  cursor: pointer;

  @include mq($until: mid-pc) {
    right: calc(50% - 140px);
  }

  @include mq($until: sp-large) {
    right: 32%;
  }

  &::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    border-left: 1px dashed #0D3D90;
    opacity: 0.8;
  }
}

.about-yokohama__filters {
  display: flex;
  gap: 10px;
  flex-basis: 100%;
  justify-content: center;
}

.about-yokohama__filter {
  border: 1px solid var(--color-main);
  border-radius: 9999px;
  background: #fff;
  padding: 8px 24px;
  cursor: pointer;
  color: var(--color-main);
  font-weight: 500;

  &:hover {
    background: var(--color-main);
    color: #fff;
  }
}

.about-yokohama__section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 96px;
  flex-wrap: wrap;

  @include mq($until: mid-pc) {
    align-items: center;
    gap: 40px;
  }

  @include mq($until: sp-large) {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }
}

.about-yokohama__column {
  flex: 1;
  // min-width: 280px;
  max-width: 100%;
}

.about-yokohama__character {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(-230px);

  @include mq($until: mid-pc) {
    transform: translateY(-50px);
  }

  @include mq($until: sp-large) {
    transform: translateY(-65px);
    order: 2;
  }
}

.about-yokohama__speech {
  position: relative;
  display: inline-block;
  max-width: 262px;
  width: 100%;

  @include mq($until: sp-large) {
    max-width: 200px;
  }
}

.about-yokohama__speech-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

.about-yokohama__character-img {
  width: 275px;
  height: auto;
  transform: translateY(-30px);

  @include mq($until: sp-large) {
    width: 200px;
  }
}

.about-yokohama__areas-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  transform: translateY(-116px) !important;

  @include mq($until: mid-pc) {
    margin-top: 20px;
    transform: translateY(0) !important;
  }

  @include mq($until: sp-large) {
    transform: translateY(-50px) !important;
    margin-top: 90px;
    order: 1;
  }
}

.about-yokohama__areas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  box-sizing: border-box;

  @include mq($until: sp-large) {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8.5px 13px;
    border: 2px solid #215191;
    border-radius: 8px;
    font-weight: bold;
    color: #215191;
    text-decoration: none;
    position: relative;
    z-index: 10;
    box-sizing: border-box;

    @include mq($until: sp-large) {
      padding: 12px 16px;
      font-size: 1.4rem;
    }
  }

  li {
    max-width: 278px;
    box-sizing: border-box;

    @include mq($until: sp-large) {
      max-width: 100%;
    }
  }
}

.about-yokohama__area-icon {
  width: 48px;
  height: auto;
  pointer-events: none;

  @include mq($until: sp-large) {
    width: 36px;
  }
}

/* MAPボタン */
.about-yokohama__map {
  position: relative;
  z-index: 200;
  text-align: left;
  margin-top: 37px;
  margin-left: 80px;
  margin-bottom: 61px;

  @include mq($until: mid-pc) {
    margin-left: 0;
    text-align: center;
  }

  @include mq($until: sp-large) {
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
  }
}

.about-yokohama__food {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  position: relative;

  &:nth-child(1) {
    position: absolute;
    transition-delay: 0s;
    top: 73%;
    right: 78%;
    width: 170px;
  }

  &:nth-child(2) {
    position: absolute;
    transition-delay: 0.2s;
    top: 79%;
    right: 64%;
    width: 142px;
    height: 142px;
  }

  &:nth-child(3) {
    position: absolute;
    transition-delay: 0.4s;
    bottom: 108px;
    right: 10px;
  }

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  @include mq($until: mid-pc) {
    display: none;
  }
}

.about-yokohama__seagull-bottom {
  position: absolute;
  top: -50px;
  left: 33%;
  width: 58px;
  z-index: 9999;
  transform-origin: center center;
  animation: seagull-fly 8s ease-in-out infinite alternate;

  @include mq($until: sp-large) {
    display: none;
  }
}

.about-yokohama__line-left {
  position: absolute;
  left: 13%;
  top: -200px;
  width: 230px;
  z-index: 20;

  @include mq($until: mid-pc) {
    display: none;
  }
}

.about-yokohama__decorations {
  @include mq($until: sp-large) {
    display: none;
  }
}
