@charset "UTF-8";
@use "../abstracts" as *;

// contact
.contact {
  position: relative;
  text-align: center;
  background: url("../images/contact/contact-bg.png") no-repeat center top;
  background-size: cover;
  margin-top: -75px;
  margin-bottom: -200px;
  min-height: 1133px;
  @include mq(tab) {
 margin-bottom: -210px;
  }
  

  @include mq(sp-large) {
    background-position: center top;
    min-height: 900px;
    margin-bottom: -200px;
  }

  .section-title--contact {
    display: flex;
    flex-direction: column; // 縦並びに
    align-items: center;
    gap: 8px;

    .section-title__text {
      color: #fff;
      font-family: var(--font-sub);
      font-size: 2rem;
    }

    .section-title__icon--wave {
      width: 80px;
      height: auto;
      filter: brightness(0) invert(1);
    }
  }
}

.contact--bottom {
  margin-bottom: 0;
}

  .contact__inner {
    position: relative;
    padding: 150px 20px 200px; // 下部のpaddingを増やして画像が切れないように
  }

  .contact__box {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    max-width: 524px;
    margin: 0 auto;
    padding: 47px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .contact__item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    

    img {
      width: 18px;
    }
  }
  .contact__item--tel,
  .contact__item--mobile,
  .contact__item--mail{
    background-color: #fff;
    width: 321px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid var(--color-main);
    margin-bottom: 18px;
  }

  .contact__item--tel span {
    color: var(--color-main);
    font-weight: 500;
    font-size: 3rem;

    @include mq (sp-large) {
      font-size:  2rem;
    }
  }

  .contact__item--mobile span {
    color:var(--color-accent);
    font-weight: 500;
    font-size: 3rem;

    @include mq (sp-large) {
      font-size:  2rem;
    }
  }
  .contact__item--time{
    color: var(--color-main);
  }
  .contact__item--mail span{
    color: var(--color-main);
    font-size: 2rem;
  }

  .contact__btns {
    .btn--blue {
      background: #0D3D90;
      color: #fff;
      width: 369px;
      margin-bottom: 20px;
    }

    .btn--orange {
      background:var(--color-accent);
      color: #fff;
      width: 294px;
    }
  }

.contact__bird {
    position: absolute;
    bottom: -60px;
    right: 15%;
    text-align: center;

    @include mq(sp-large) {
      top:100px;
      z-index: 1;
    }

    img {
      width: 120px;
    }

    .contact__speech {
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      border-radius: 50px;
      padding: 12px 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
      font-size: 1.4rem; // 14px (1rem=10px基準)
      line-height: 1.6;
      width: 200px;
    }
  }
