@forward "home";
@forward "about";
@forward "features";
@forward "service";
@forward "support";
@forward "faq";
@forward "news";
@forward "news-list";
@forward "news-detail";
@forward "about-yokohama";
@forward "contact";
@forward "reservation";
@forward "inquiry";
@forward "influencer";
@forward "service-tour-guide";
@forward "yokohama";
@forward "search-page";
@forward "error-page";
@forward "service-reserve";
@forward "privacy";
