@charset "UTF-8";
@use "../abstracts" as *;

.br {
  display: block;
}

.guide-overview__dot--lemon {
  background: #F4E767;
}

.service-reserve {
  .guide-overview__area-list {
    gap: 12px 26px;
  }

  .guide-overview__area {
    border-bottom: none;

    @include mq($until: sp-large) {
      flex-direction: column;
    }
  }

  .guide-overview__inner {
    border-bottom: 2px solid #2e65ba;
  }
}

.map-img {
  padding-bottom: 19px;
  width: 567px;
  margin-inline: auto;

  @include mq($until: sp-large) {
    width: 100%;
  }
}

.reservation__inner {
  width: min(1199px, 92%);
  margin: 0 auto;
}

.reservation {
  font-family: Zen Maru Gothic;
  height: 2000px;
 
  @include mq($until: tab) {
   height: 3000px;
  }
  @include mq($until: sp-large) {
    height: 3500px;
  }

  h2 {
    text-align: center;
  }
}

.category__wrap {
  position: relative;

}

.category--stay {
  position: relative;
  margin-left: 103px;

  @include mq($until: sp-large) {
    margin-left: 16px;
  }
}

// 泊まる
.category__circle {
  display: block;
  padding: 25px 57px 86px 57px;
  text-align: center;
  background-color: #F2F6F6;
  border-radius: 50%;
  width: 263px;
  margin-left: 70px;
  z-index: 1;

}

.category__shape {
  position: absolute;
  content: '';
  width: 172px;
  height: 294px;
  background: url(/images/service-reserve/resercation-circle-blue@2x.png) center center /contain no-repeat;
  z-index: -3;
  top: 47px;

  @include mq($until: tab) {
    position: static;
  }

}

.category__text {
  color: #0D3063;
  line-height: 1.5;
  padding-top: 25px;
  width: 158px;
}

.category__image {
  width: 314px;
  position: absolute;
  top: 194px;
  left: 123px;
  z-index: -2;

  @include mq($until: sp-large) {
    position: static;
    top: 0;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}

.category__image2 {
  width: 275px;
  position: absolute;
  left: -103px;
  top: 290px;
  z-index: -3;

  img {
    border-radius: 16px;
  }

  @include mq($until: sp-large) {
    position: static;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}


// 食べる
.category--eat {
  position: absolute;
  top: 372px;
  right: 0;

  @include mq($until: tab) {
    top: 800px;
  }
  

  @include mq($until: sp-large) {
    left: 50px;
  }

  .category__circle {
    position: absolute;
    margin-left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .category__shape {
    position: relative;
    background: url(/images/service-reserve/reservation-circle-orange@2x.png) center center /contain no-repeat;
    width: 578px;
    height: 558px;
    top: 0;
    left: 0;

    @include mq($until: sp-large) {
      width: 350px;
      height: 350px;
      left: -50px;
    }
  }

  .category__text {
    width: 169px;
  }
}

// 肉料理
.circle-eat-img01 {
  border-radius: 50%;
  position: absolute;
  top: -262px;
  left: 376px;
  width: 126px;

  p {
    text-align: center;
  }
}

.circle-eat-img {
  border-radius: 50%;
}

// ベジタリアン
.circle-eat-img02 {
  position: absolute;
  width: 118px;
  top: -176px;
  left: 173px;

  p {
    text-align: center;
  }

}

// 中華
.circle-eat-img03 {
  position: absolute;
  width: 176px;
  top: -100px;
  right: 57px;

  p {
    text-align: center;
  }

  img {
    border-radius: 50%;
  }
}

// 和食
.circle-eat-img04 {
  position: absolute;
  width: 182px;
  top: 0;
  left: 0;

  p {
    text-align: center;
  }

}

// イタリア料理
.circle-eat-img05 {
  position: absolute;
  width: 118px;
  top: 271px;
  left: -27px;

  p {
    text-align: center;
  }
}

// ランチ
.circle-eat-img06 {
  position: absolute;
  width: 118px;
  top: 434px;
  left: 100px;

  p {
    text-align: center;
  }
}

// フランス料理
.circle-eat-img07 {
  position: absolute;
  width: 126px;
  top: 317px;
  left: 264px;
  z-index: 1;

  p {
    text-align: center;
  }

}

// カフェ
.circle-eat-img08 {
  position: absolute;
  width: 115px;
  bottom: -136px;
  left: 264px;
  z-index: 1;

  p {
    text-align: center;
  }

}

// ディナー
.circle-eat-img09 {
  position: absolute;
  width: 164px;
  bottom: -30px;
  right: 0;

  p {
    text-align: center;
  }
}

// インド料理
.circle-eat-img10 {
  position: absolute;
  width: 143px;
  top: 204px;
  right: -14px;

  p {
    text-align: center;
  }
}

@include mq($until: sp-large) {

  .circle-eat {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2列
    padding-top: 400px;
    gap: 10px;
    justify-items: center;
  }

  .circle-eat-img01,
  .circle-eat-img02,
  .circle-eat-img03,
  .circle-eat-img04,
  .circle-eat-img05,
  .circle-eat-img06,
  .circle-eat-img07,
  .circle-eat-img08,
  .circle-eat-img09,
  .circle-eat-img10 {
    position: static;
    width: auto; // ← ここがポイント！幅を自動に
    max-width: 120px;

  }
}

// 遊ぶ

.category--play {
  display: block;
  height: 500px;
  position: absolute;
  top: 840px;

  @include mq($until: tab) {
  top: 1500px;
  }

  @include mq($until: sp-large) {
    top:2000px
  }

  .category__shape {
    background: url(/images/service-reserve/reservation-circle-pink@2x.png) center center /contain no-repeat;
    width: 651px;
    height: 556px;
    top: 0;
    left: 0;
  }

  .category__circle {
    padding: 14px 33px 48px 33px;
    width: 290px;
    height: 298px;
  }

  .category__text {
    text-align: start;
    width: 224px;
  }
}

// スライダー
.category__box {
  background-color: #F2F6F6;
  position: absolute;
  top: 269px;
  left: 127px;
  border-radius: 130px 0 0 130px;
  padding-block: 19px 51px;

  @include mq($until: tab) {
    left: 0;
   }
}

.container {
  padding: 59px 31px 100px 31px;
  overflow-x: hidden;

  &::before {
    position: absolute;
    content: '';
    width:  276px;
    height:  255px;
    left: -203px;
    top: 326px;
    background: url(../../images/service-reserve/mascot@2x.png) center center /contain no-repeat;

    @include mq($until: tab) {
      display: none;
     }
  }
}
.flow__title {
  margin-left: 224px;
  color: #0D3063;
}

.slider {
  margin: 30px auto 0;
  max-width: 1100px;
}

.slick-img {
  img {
  height: auto;
  width: 100px;
 }
}

.play-img {
  display: inline-block;
 
}

.slide-arrow {
  position: absolute;
  bottom: -70px; // 下に固定
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.prev-arrow {
  left: 20%;
  transform: translateX(-60px); // 中央から左へずらす
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #1D50A2; // 三角
}

.next-arrow {
  right: 79%;
  transform: translateX(60px); // 中央から右へずらす
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #1D50A2; // 三角
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
}

.play-slider__item {
  text-align: center;
}

.play-slider__bubble {
  position: relative;
  background: url(../../images/service-reserve/bubble@2x.png) center left / cover no-repeat;
  width: 407px;
  min-height: 292px;
  line-height: calc(28px /16px);
  margin-inline: auto;

  p {
    position: absolute;
    top: 90px;
    width: 255px;
    left: 55%;
    transform: translateX(-50%);
    text-align: start;
  }
}
.play-slider__bubble--width {
  width: 447px;

  p {
    width: 255px;
  }
}

.play__label {
  padding-top: 16px;
  color:#0D3063;
  font-weight: 600;
}

.play-slider__links {
  color:#0D3063;
  width: 275px;
  display: inline-block;
  padding-right: 16px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width:  18px;
    height:  14px;
    top: 0;
    right: 0;
    transform: translateY(50%);
    background: url(../../images/yokohama/link-icon@2x.png) center center /contain no-repeat;
  }
}


// サポート内容

.support__inner {
    width: min(861px, 92%);
    margin: 0 auto;
  }



.support__catchphrase {
  display: inline-flex;
  position: relative;
 font-size: 18px;
 color: #1D50A2;
 padding-inline: 22px;
 &::before {
  position: absolute;
  content: '';
  width:  12px;
  height:  27px;
  left: 0;
  top: 0;
  background: url(../../images/service-reserve/nijyuhukidashi-left@2x.png) center center /contain no-repeat;
 }
 &::after {
  position: absolute;
  content: '';
  width:  12px;
  height:  27px;
  right: 0;
  top: 0;
  background: url(../../images/service-reserve/nijyuhukidashi-right@2x.png) center center /contain no-repeat;
 }
}

.support__content {
  margin-top: 27px;
  padding: 42px 56px;
  background-color: #F2F6F6;
}

.support__icon {
 text-align: center;
}

.support__text {
 display: flex;
 align-items: center;
 gap: 50px;
}


.support__item-title {
  border-bottom: 5px solid rgba(234, 111, 0, 0.4);
}

.support__description {
 width: 70%;
}

.support__list {
  padding:18px 52px;
  background-color: #ffffff;
  border-radius: 20px;
}

.support__item {
  list-style-type: decimal;  /* 数字を表示する */
  list-style-position: outside; /* 数字を外側に配置（デフォルト） */
  text-align: start;
  color: #0D3063;
  line-height: calc(28px / 16px);
  
 &:not(:first-child) {
  margin-top: 21px;
 }
}


.support__button {

}

.button {

}

.button--primary {

}

