@charset "UTF-8";
@use "../abstracts" as *;

// サービスページ共通：検索エリア
.search-area--service {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 50px 0 0;
    background: #fff;
    flex-wrap: nowrap;
    position: relative;
    background-color: #F2F6F6;

    @include mq($until: sp-large) {
        width: 100%;
        padding: 24px 0 18px;
    }
}

