// css変数定義
:root {
  /* ===== Colors ===== */
  --color-main: #1d4375;
  --color-accent: #ea6f00;
  --color-text: #1D50A2;
  --color-bg:#fff;

  /* ===== Fonts ===== */
  --font-heading:'Noto Sans JP', sans-serif;
  --font-sub: 'Zen Maru Gothic', sans-serif;
  --font-sub-al:'uzura_font', sans-serif;

}